<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOldServlet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.AdminOldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReady</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.GetReady</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentServlet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.RentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalServelet</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.RentalServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>edu.csueb.cs3520.servlet.Success</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/newclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/InventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOldServlet</servlet-name>
        <url-pattern>/AdminOldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReady</servlet-name>
        <url-pattern>/getready</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentServlet</servlet-name>
        <url-pattern>/rental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalServelet</servlet-name>
        <url-pattern>/proximo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
